.but{
    background-color: rgb(87, 252, 213);
    color: rgb(144, 212, 144);
    position: absolute;
    left:28rem;
    top: 4rem;
    margin:12px 12px 12px 12px;
    padding: 10px 10px 10px 10px;
    
}
.buttons{
     background-color: green;
     color: rgb(166, 255, 175);
     padding:13px 13px 13px 13px;
     position: relative;
     left: 8rem;
}
.buttons:hover{
    background-color:black;
    color:rgb(158, 237, 206);
    
}
.headme{
    color: rgb(11, 56, 11);
    font-size: 1.5rem;
    font-weight: 900;
}